
  .Cell {
    height:80px;
    width:80px;
  }

  .dark_cell {
    background-color: burlywood;
  }

  .light_cell{
    background-color: cornsilk;
  }

  .image{
    height:80px;
    width:80px;
  }
